*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;

}
body {
	font-family: "Futura PT", sans-serif;
}
#działanie-preparatu{
	display: none;
}

#ingredients-mobile {
    display: none;
}
.divider{
	display: none;
}
img {
	max-width: 100%;
}
:root {
	--arthrohard-red: #ad4844;
	--linear-for-custom-heading: linear-gradient(
		90.01deg,
		#111111 -8.85%,
		#b1b1b1 58.84%,
		#696969 91.39%,
		#b1b1b1 116.12%
	);
	--gray-background: #f6f6f6;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.bold-text {
	font-weight: bold;
}
.divider {
	border: none;
	height: 3rem;
	background-color: var(--gray-background);
	margin: 20px 0;
  }

.vector {
	position: absolute;
	max-width: 8%;
	z-index: 0;
}
.right {
	top: 40%;
	left: 58%;
	transform: rotate(13deg);
}
.left {
	right: 69%;
	top: 54%;
}
.moving-underline {
	position: relative;
	display: inline-block;
}

.moving-underline::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5%;
	width: 100%;
	height: 1px;
	background-color: black;
	transform: scaleX(0);
	transform-origin: bottom;
	transition: transform 0.25s ease-in-out;
}

.moving-underline:hover {
	color: black;
	transform-origin: bottom center;
}

.moving-underline:hover::after {
	transform-origin: bottom center;
	transform: scaleX(1);
	color: black;
}

.fixed-underline {
	position: relative;
}

.fixed-underline::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -2.5rem;
	width: 10rem;
	height: 1px;
	background-color: black;
	transform: translateX(-50%);
}
h3 {
	background: var(--linear-for-custom-heading);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	position: relative;
	font-size: 3rem;
	font-weight: normal;
}

@media screen and (max-width: 1300px) {
   h3{
    font-size: 1rem;
   }
}


@media screen and (max-width: 900px) {
	.divider{
		display: block;
	}
 }


 .vector1, .vector2, .vector3{
	position: absolute;
 }
 .vector1{
	width: 15%;
    top: 90%;
    left: 5%;
 }
 .vector2{
	width: 20%;
    left: 81%;
    transform: rotate(-122deg);
    top: 70%;
 }
 .vector3{
	width: 9%;
    left: 90%;
    top: 66%;
    transform: rotate(-74deg);
 }