#about {
	margin: 0 auto;
	padding-bottom: 5rem;
	background-color: var(--gray-background);
	overflow: hidden;
}
.details-container {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	text-align: center;
	flex-wrap: wrap;
}
.details-element {
	flex: 1 1 300px;
	display: flex;
	flex-direction: column;
	max-width: 30%;
}
.details-element h4 {
	font-size: 1.5rem;
	margin: 3rem 0 2rem 0;
}
.description {
	font-size: 1.2rem;
	margin: 3rem 0;
	flex-grow: 1;
}

.double-image {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.custom-desc {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 5px;
	align-items: left;
}

.counter {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 1rem;
}

.number {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: #fff;
	color: #000;
	font-weight: bold;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* VECTORS ADDED */
.detail-image {
	position: relative;
	z-index: 1;
}

/* First Image */
.details-element .left {
	right: 94%;
	top: 26%;
	max-width: 29%;
	transform: rotate(159deg);
}

.details-element .right {
	top: 14%;
	left: 93%;
	max-width: 24%;
	transform: rotate(177deg);
}

/* Second (double) image */

.image-2 + .left{
	right: 80%;
    top: 36%;
    max-width: 55%;
    transform: rotate(-1deg);
}

.image-3 + .right{
	top: 33%;
    left: 58%;
    max-width: 56%;
    transform: rotate(-22deg);
}





/* Third Image */

.image-4 + .left {
	right: 94%;
	top: 17%;
	/* z-index: 0; */
	max-width: 27%;
	transform: rotate(159deg);
}
.image-4 + .right{
	top: 14%;
    left: 83%;
    /* z-index: 0; */
    max-width: 24%;
    transform: rotate(-23deg);
}

@media screen and (max-width: 1300px) {
	h3 {
		font-size: 2.5rem;
	}
	.details-container{
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: stretch;
	}
	.details-element {
		flex-basis: calc(50% - 20px);
    max-width: calc(40% - 20px);
    margin-bottom: 40px; 
	margin: 0 3rem;

	}

	.details-element:last-child {
	    margin: 0 auto;
		max-width: 50%;
	  }
	.details-element h4 {
		font-size: 1.3rem;
		margin: 3rem 0 2rem 0;
	}
	.description {
		font-size: 1.1rem;
		margin: 3rem 0;
	}
}

@media screen and (max-width: 900px) {

	.details-container{
		display: flex;
    flex-direction: column;
    align-items: center;

	}
	.details-element {
		flex-direction: column;
        flex-basis: 100%;
		max-width: 100%;
	}
	.details-element h4 {
		font-size: 1.5rem;
		margin: 5rem 0 2rem 0;
	}
	.description {
		font-size: 1.2rem;
		margin: 3rem 0 2rem 0;
	}

	.custom-desc li:last-child {
		margin-left: 1rem;
	}

	.counter {
		display: flex;
		align-items: center;
		justify-content: left;
		gap: 1rem;
	}

	.number {
		min-width: 3rem;
		min-height: 3rem;
		border-radius: 50%;
		background-color: #fff;
		color: #000;
		font-weight: bold;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	}
}

@media (min-width: 2000px) {
	.details-element h4 {
		font-size: 2.5rem;
	}
	.description{
		font-size:2rem;
	}
	
  }
  