#products {
	background-color: var(--gray-background);
	padding: 5rem;
}
.products-container {
	flex-direction: column;
	width: 100%;
}
.product-quantity-selector {
	border: 1px solid var(--arthrohard-red);
	background-color: #f2f2f2;
	margin-bottom: 10rem;
}
.product-quantity-selector label {
	margin: 5px;
	font-size: 1.5rem;
}

.product-quantity-selector select {
	font-size: 1.5rem;
	background-color: #b34949;
	color: white;
	border: none;
	padding: 5px;
	border: 1px solid black;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 20px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-size: 16px;
}

.product-quantity-selector select:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.products-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
	place-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
	width: 100%;
	place-items: center;
}

.product-list-item {
	text-align: center;
	padding: 5rem 5rem;
	width: 90%;
	margin: 2rem;
	border: 1px solid black;
	background-color: #bebebe;
}

.product-list-item p {
	font-weight: 450;
}
.modal-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrap.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background-color: white;
	width: 50%;
	height: 14rem;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 1.2rem;
	position: relative;
}
#modal-content {
	display: flex;
	align-self: flex-start;
	justify-content: space-between;
	height: 100%;
	flex-direction: column;
	padding: 0.1rem 1rem 3rem 1rem;
}

#close-modal {
	font-size: 1.5em;
	font-weight: bold;
	color: #000;
	background: none;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 8%;
	left: 97%;
	transform: translate(-50%, -50%);
}

#close-modal:hover {
	color: #555;
}
@media screen and (max-width: 1100px) {
	.modal {
		width: 70%;
		height: 30%;
	}

	#close-modal {
		top: 7%;
	}
}

@media screen and (max-width: 770px) {
	.products-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 0;
		justify-content: center;
	}
	.product-list-item {
		padding: 4rem 4rem;
		margin: 0.5rem;
	}
}

@media screen and (max-width: 520px) {
	.product-quantity-selector {
		text-align: center;
	}
	#product-count {
		width: 100%;
		text-align: center;
	}
}
