*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Futura PT", sans-serif;
}

:root {
	--arthrohard-red: #ad4844;
	--linear-for-custom-heading: linear-gradient(
		90.01deg,
		#111111 -8.85%,
		#b1b1b1 58.84%,
		#696969 91.39%,
		#b1b1b1 116.12%
	);
	--gray-background: #f6f6f6;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.bold-text {
	font-weight: bold;
}
/* BUTTONS */
.button {
	border: none;
	color: white; 
	padding: 12px 24px; 
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold; 
	cursor: pointer;
	border-radius: 0;
	transition: background-color 0.3s ease; 
}
.green {
	background-color: #4caf50; 
	align-self: left;
}
.green:hover {
	background-color: #367c39;
}
.red {
	background-color: var(--arthrohard-red);
	padding: 1rem 5rem;
}
.red:hover {
	background-color: brown;
}

.hamburger {
	display: none;
}

.nav-menu-mobile {
	display: none;
}
.logo {
	font-size: 2rem;
	font-weight: 450;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}
#custom-logo {
	color: var(--arthrohard-red);
}
header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: white;
	box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}
/* NAV */

.nav-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.nav-menu a {
	display: inline-block;
	margin: 0.5rem 1rem;
	text-decoration: none;
	color: black;
	position: relative; 
	overflow: hidden;
}
.nav-menu a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: black;
	transform: scaleX(0);
	transform-origin: bottom;
	transition: transform 0.25s ease-in-out;
}
.nav-menu a:hover {
	color: black;
	transform-origin: bottom center;
}

.nav-menu a:hover::after,
.nav-menu ul li a.active::after {
	transform-origin: bottom center;
	transform: scaleX(1);
	color: white;
}

/* HERO IMAGE*/

.hero-container {
	flex-direction: row;
}

.hero-image-container {
	position: relative; 
	height: auto; 
}
.hero-image {
	position: relative; 
	top: auto; 
	right: 10%; 
	transform: none; 
	max-width: 110%; 
	height: auto; 
	display: block; 
	z-index: 1;
}
.vector {
	position: absolute;
	max-width: 8%;
	z-index:0;
}
.right {
	top: 40%;
    left: 58%;
	transform: rotate(13deg);
}
.left {
    right: 69%;
    top: 54%;
}

/* HERO-CONTENT */
.hero-content {
	position: relative;
	text-align: center;
	right: 15%;
	margin-bottom: 10rem;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-evenly;
	z-index: 2;
}
.hero-content h1 {
	font-weight: 450;
	font-size: 5rem;
	line-height: 153.84px;
	letter-spacing: 0%;
	text-align: left;
}
.hero-content h2 {
	text-align: left;
	font-weight: 450;
	font-size: 3rem;
	line-height: 61.54px;
	letter-spacing: 0%;
	background: var(--linear-for-custom-heading);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	position: relative;
}

.hero-content p {
	width: 80%;
	font-weight: 400;
	font-size: 1.2rem;
	text-align: left;
	margin: 2rem 0;
}
.green {
	width: 30%;
}

/* COMMON H3 */
/* RE-USABLE UNDERLINE */

.moving-underline {
	position: relative;
	display: inline-block;
}

.moving-underline::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5%;
	width: 100%;
	height: 1px;
	background-color: black;
	transform: scaleX(0);
	transform-origin: bottom;
	transition: transform 0.25s ease-in-out; 
}

.moving-underline:hover {
	color: black;
	transform-origin: bottom center;
}

.moving-underline:hover::after {
	transform-origin: bottom center;
	transform: scaleX(1);
	color: black;
}

.fixed-underline {
	position: relative;
}

.fixed-underline::after {
	content: "";
	position: absolute;
	left: 50%; 
	bottom: -2.5rem;
	width: 10rem; 
	height: 1px; 
	background-color: black; 
	transform: translateX(-50%); 
}

.h3-container {
	padding: 5rem 0 10rem 0;
	max-width: 100%;
	text-align: center;
}
h3 {
	background: var(--linear-for-custom-heading);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	position: relative;
	font-size: 3rem;
	font-weight: normal;
}
#hero {
	padding-top: 9rem;
	background-color: var(--gray-background);
}
#o-produkcie {
	margin: 0 auto;
	padding-bottom: 5rem;
	background-color: var(--gray-background);
}

/* DETAILS */

.details-container {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	text-align: center;
	flex-wrap: wrap;
}
.details-element {
	flex-direction: column;
	width: 25%;
}
.details-element h4 {
	font-size: 1.5rem;
	margin: 3rem 0 2rem 0;
}
.description {
	font-size: 1.2rem;
	margin: 3rem 0;
}

.double-image {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.custom-desc {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #f5f5f5;
	border-radius: 5px;
	align-items: left;
}

.counter {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 1rem;
}

.number {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: #fff;
	color: #000;
	font-weight: bold;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* INGREDIENTS */

.ingredients-container {
	align-items: stretch;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;
}
.ingredients-left-section,
.ingredients-right-section {
	flex-direction: column;
	width: 20%;
}

.ingredient {
	flex-direction: column;
}
.small-circle {
	width: 4rem;
	height: 4rem;
	background-color: #d9d9d9;
	border-radius: 50%;
}

.ingredient-header {
	font-size: 1.5rem;
	margin: 2rem 0 1rem 0;
}

.ingredient-amount {
	font-size: 1.2rem;
	margin: 4rem 0 2rem 0;
}
.ingredient-description {
	font-size: 1.2rem;
	padding-bottom: 3rem;
}
.doggy {
	margin-top: 10rem;
}

/* PRODUCTS */

#products {
	background-color: var(--gray-background);
	padding: 5rem;
}
.products-container {
	flex-direction: column;
	width: 100%
}
.product-quantity-selector {
	border: 1px solid var(--arthrohard-red); 
	background-color: #f2f2f2; 
	margin-bottom: 10rem;
}
.product-quantity-selector label {
	margin: 5px;
	font-size: 1.5rem;
}

.product-quantity-selector select {
	font-size: 1.5rem;
	background-color: #b34949; 
	color: white;
	border: none;
	padding: 5px;
	border: 1px solid black;
	appearance: none; 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	padding-right: 20px; 
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); 
	background-repeat: no-repeat;
	background-position: right 5px top 50%;
	background-size: 16px;
}

/* Usuń focus outline */
.product-quantity-selector select:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.products-list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
    place-items: center;
}

.product-list-item {
	text-align: center;
	padding: 5rem 5rem;
	width: 90%;
	margin: 2rem;
	border: 1px solid black;
}
.modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrap.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    width: 25%;
    height: 20%;
    border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 1.2rem;
	position: relative;
}
#modal-content{
	margin-left: 1rem;
	align-self: flex-start
}
#modal-content p{
	margin-bottom: 3rem;
}
#close-modal{
	position: absolute;
	top: 10%;
    left: 95%;
	transform: translate(-50%, -50%);
}
#close-modal {
	font-size: 1.5em;
	font-weight: bold;
	color: #000;
	background: none;
	border: none;
	cursor: pointer;
  }
  
  #close-modal:hover {
	color: #555;
  }




/* ////////////////////////////// */

@media screen and (max-width: 600px) {
	/* BURGER ICON */
	.hamburger {
		display: block;
		cursor: pointer;
		background: none;
		border: none;
		padding: 0;
		z-index: inherit;
	}
	.hamburger .line {
		width: 25px;
		height: 3px;
		background-color: var(--arthrohard-red);
		display: block;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
	}
	.hamburger.active .line:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .line:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .line:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	/* Overlay */
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		display: none;
		background-color: rgba(255, 255, 255, 0.8);
	}

	.overlay.active {
		display: block;
	}

	/* NAV */
	/*  Stylizacja menu  */
	.nav-menu-mobile {
		background-color: var(--arthrohard-red);
		padding: 1rem;
		display: none;
		position: absolute;
		top: 100%;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
		z-index: 100;
		width: 80%;
		left: 50%;
		transform: translateX(-50%);
	}

	.nav-menu.active {
		display: block;
	}
	/* MAIN */
	main {
		padding-top: 9rem;
	}

	/* HERO IMAGE*/

	.hero-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
	}
	.hero-image-container {
		position: relative;
	}
	.hero-image {
		max-width: 100%;
		z-index: 80;
		position: relative;
	}
	.vector {
		position: absolute;
		max-width: 8%;
		z-index: 5;
	}
	.right {
		top: 40%;
		left: 62%;
		transform: rotate(13deg);
	}
	.left {
		right: 62%;
		top: 54%;
	}
}
/* HERO-CONTENT */
